.divb1{
    background-color: rgb(240, 240, 240);
    width: 20%;
    float: left;
    height: 300px;
    padding: 20px;
    margin: 17px;
}
.divb2{
    width: 100%;
    height:240px;
}
.imgb{
    width: 100%;
    height: 100%;
}
.divb3{
   text-align: center;
    width:100%;
    height: 50px;
}
.pb{
    margin: 3px 0px;
}
.buttonb{
    padding: 3px;
}
hr{
    clear: both;
}
