<ul class="ul">
    <!-- Todo -->
    <li class="li"><a href="#">BOOK|STORE</a></li>
    <!-- Todo -->
    <li class="li"><a href="#">HOME</a></li>
    <li class="dropdown li">
        <!-- Todo -->
        <a href="#" class="dropbtn">CATEGORIES</a>
        <div class="dropdown-content">
            {% for c in category_list %}
                <a href="{{ c.get_absolute_url }}">{{ c.title }}</a>
            {% endfor %}
        </div>
    </li>
    <!-- Todo -->
    <li class="li"><a href="#">CART</a></li>
</ul>
